header li
	{
		display:inline-block;
		list-style:none;
		float:right;
		margin-right: 10px;
		padding-top: 50px;
		font-family: Helvetica;
	}
	a:link, a:visited{
		color:gray;
		background-color: white;
		text-align: center;
		font-size: 22px;
		padding: 10 px;
}
	a:hover, a:active
	{
		background-color: gray;
		color:white;
	}

ul
{
	margin:1px;
	padding: 0;
}
	.topnav {
  background-color: white;
  overflow: hidden;
}

.mystyle
{
	font-family:times "Times New Roman", Times, serif;
	text-align:center;
	background-color:white;
	font-weight:lighter;
	font-size: 24px;
	
}

div>p
{
	background: #f2f5d5;
width: auto;
height: auto;
padding: 100px;
border: 10px solid gray;
margin: 30px;
font-family:times "Times New Roman", Times, serif;
font-size: 50px;
text-align: center;
text-shadow: .5px 3px gray;


}

video
{

  width: 100%;
  height: auto;
}
